/* Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Set default font for the whole app */
body {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", "Twemoji Mozilla", sans-serif;
}


/* App.css or your CSS file */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 18px;
  font-weight: normal;
}

/* Hide scrollbar (but keep scroll functionality) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.nav-link-small {
  overflow: visible; /* not hidden */
}

nav {
  padding-bottom: 0; /* or adjust to remove extra space */
}


/* Add this to your global CSS or a <style> tag if using inline CSS */

@media (max-width: 870px) {
  .nav-link-small {
    font-size: 0.85rem; /* slightly smaller */
    gap: 8px;           /* reduce spacing between links */
  }

  .logout-btn-small {
    font-size: 0.85rem;
    padding: 0.35rem 0.5rem; /* slightly smaller padding */
  }
}

/* Signout dropdown anim */
@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-0.25rem) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-dropdown {
  animation: dropdown 0.2s ease-out forwards;
}


